img { max-width: 100%; }

button {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15pt;
}

.bad {
	color: red;
}

.server-box {
	border: 3px solid #000000;
	background-color: #FFF0DC;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	color: black;
	text-align: left;
	width: 90%;
}

div.icon {
	display: inline-block;
	vertical-align: bottom;
	width: 64px;
	height: 64px;
}

div.inline {
	display: inline-block;
	vertical-align: top;
}

/* stolen from ETI temporarily */
.message-top{font-weight:bold}.quoted-message .message-top em{font-style:normal}
.quoted-message{border-left:2px solid #144fae;color:#144fae;padding-left:8px}
.quoted-message .quoted-message{border-color:#006312;color:#006312}
.quoted-message .quoted-message .quoted-message{border-color:#540000;color:#540000}
.quoted-message .message-top{font-weight:bold}
.quoted-message .message-top em{font-style:normal}
.img{display:inline-block;margin-right:4px}